@{
    ViewBag.Title = "Home Page";
}

<div style="height: 150px;">
    <h1 style="height: 121px; text-align: center; display: flex; align-items: center; justify-content: center;  font-family: Calibri; color: #7ecefd; font-size: 80px; text-shadow: -2px 2px 4px #fff, 2px 2px 4px #fff, 2px -2px 4px #fff, -2px -2px 4px #fff;">Tweet Up </h1>
</div>
<div>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <h1 >
               A new way where people can Meet<br /><br />
            </h1>
            <p >
                <strong>What's Tweetup ?</strong> <br/><br /> Meet people in person at a location with a coffee or go bowling.</p>
        </div>
        <div class="col-md-6">
            <h1 style="text-align: center; display: flex; align-items: center; justify-content: center;  font-family: Calibri;">
                Subscribe<br /><br />
            </h1>
            <form role="form">
                <div class="form-group ">

                    <label for="NameField">
                        Name
                    </label>
                    <input type="text" class="form-control" id="NameField" />
                </div>
                <div class="form-group">

                    <label for="exampleInputEmail1">
                        Email
                    </label>
                    <input type="email" class="form-control" id="exampleInputEmail1" />
                </div>
                <div>
                    <label for="exampleInputEmail1">
                        Profession
                    </label>
                    <br />
                    <br />
                </div>

                
                <button type="submit" class="btn btn-primary">
                    Submit
                </button>
            </form>
        </div>
    </div>
</div>